<html>
<head>
  <title>Email Sending System | Settings</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;">
   
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Email Sending System</a>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/settings">Settings</a>
          </li>
          <li>
            <a href="/reports">Reports</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="jumbotron"  style="padding:40px;">
      <p>Settings</p>
      <form class="form" action="/settings" method="post">
        <% setting_data.forEach(function(item){ %>
          <div class="form-group">
            <label class="form-label">Runing Server Count(Max 5000)</label>
            <input type="number" class="form-control" name="server_counts" id="server_counts" placeholder="How many servers do you want to use simultaneously?" value="<%= item.server_counts %>">
          </div>
          <div class="form-group">
            <label class="form-label">Total Sending Emails(Max 500000)</label>
            <input type="number" class="form-control" name="sending_emails_count" id="sending_emails_count" placeholder="How many total emails do you want to send servers?" value="<%= item.sending_emails_count %>">
          </div>
          <div class="form-group">
            <label class="form-label">Email Count per Server(Max 100)</label>
            <input type="number" class="form-control" name="per_emails_count" id="per_emails_count" placeholder="How many emails do you want to send per servers?" value="<%= item.per_emails_count%>">
          </div>
        <% }); %>
        <div class="form-action">
          <input type="submit" class="btn btn-primary" value="save">
        </div>
      </form>
    </div>
  </div>
</body>
</html>